<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Book renting and selling">
    <meta name="author" content="Deepak Prakash">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/static/favicon_io/site.webmanifest">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">

    <title>ConnecTheShelf</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!--
Ramayana CSS Template
https://templatemo.com/tm-529-ramayana
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-style.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css"> {% block style %} {% endblock %}

</head>

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <div class="logo">
                        <a href="/">ConnecTheShelf</a>
                    </div>
                </header>

                {% block body %} {% endblock %}

            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">

            <div class="inner">

                <!-- Search Box -->
                <section id="search" class="alt">

                </section>

                <!-- Menu -->
                <nav id="menu">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><span class="opener">Login</span>
                            <ul>
                                <li><a href="/reader/login">Reader</a></li>
                                <li><a href="/distributor/login">Distributor</a></li>
                            </ul>
                        </li>
                        <li><a href="/reader/signup">Signup</a></li>
                        <li>
                            <span class="opener">My actions</span>
                            <ul>
                                {% for act in actions %}
                                <li><a href="/{{type}}/{{act.link}}">{{act.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a href="/reader/viewbook">View books</a></li>
                        <li><a href="/donate">Donate</a></li>
                        <li><a href="/contact">Contact us</a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </nav>

                <!-- Featured Posts -->
                <div class="featured-posts">
                    <div class="heading">
                        <h2></h2>
                    </div>
                    <div class="owl-carousel owl-theme">
                        <a href="tel:8700574073">
                            <div class="featured-item">
                                <img src="/static/assets/images/featured_post_01.jpg" alt="featured one">
                                <p>Support: 8700574073</p>
                            </div>
                        </a>
                        <a href="tel:7048936838">
                            <div class="featured-item">
                                <img src="/static/assets/images/featured_post_01.jpg" alt="featured two">
                                <p>Developer Support:7048936838</p>
                            </div>
                        </a>
                        <a href="tel: 9717252239">
                            <div class="featured-item">
                                <img src="/static/assets/images/featured_post_01.jpg" alt="featured three">
                                <p>Support: 9717252239</p>
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Footer -->
                <footer id="footer">
                    <p class="copyright">Copyright &copy; 2021 ConnecTheShelf
                        <br>Developed by <a rel="nofollow" href="https://deepakdpy.github.io/deepakdpy/" target='_blank'>Deepak Prakash</a>
                    </p>
                </footer>

            </div>
        </div>

    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/assets/js/browser.min.js"></script>
    <script src="/static/assets/js/breakpoints.min.js"></script>
    <script src="/static/assets/js/transition.js"></script>
    <script src="/static/assets/js/owl-carousel.js"></script>
    <script src="/static/assets/js/custom.js"></script>
    {% block script %} {% endblock %}
</body>


</body>

</html>